*, *::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.purple-text{
    color: #6c5ce7;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 0;
}


:root {
    --x-width: calc(var(--ham-height)* 1.41421356237);
    --bar-width: 30px; 
    --bar-height: 2px;
    --hamburgare-gap: 6px;
    --foreground: #6C5CE7;
    --background: #34495E;
    --ham-margin: 10px;
    --animation-timing: 500ms ease-in-out;
    --ham-height: calc(var(--bar-height)*3 + var(--hamburgare-gap)*2);
    --max-width-mobile: 800px;
}
/* Hamburger menu CSS */
.ham-menu{
    display: flex;
    flex-direction: column;
    gap: var(--hamburgare-gap);
    width: max-content;
    position: fixed;
    top: var(--ham-margin);
    left: var(--ham-margin);
    z-index: 2;
    cursor: pointer;
}

.ham-menu::before,
.ham-menu::after,
.ham-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 999999px;
    transition: opacity var(--animation-timing) width var(--animation-timing)
    rotate var(--animation-timing) translate var(--animation-timing) background-color var(--animation-timing);
    transform-origin: left center;
}

.ham-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.ham-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.ham-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}


.ham-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 200px;
    translate: -100%;
    transition: translate var(--animation-timing);
    padding: 0.5rem 1rem;
    padding-top: calc(var(--ham-height) + var(--ham-margin) + 1rem);
    background-color: var(--background);
    color: white;
    z-index: 1;
}

.ham-menu:has(input:checked) + .sidebar{
    translate: 0;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
}

nav li {
    display: flex;
    flex-direction: column;
}

nav li a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 1rem;
}

nav li a:hover {
    color:var(--foreground);
}
/* Hero section CSS */
.hero-content{
    padding-left: 10px;
}

h1{
    background-color: #F0F0F0;
    font-size: 34px;
    max-width: var(--max-width-mobile);
    border-radius: 10px;
    text-align: center;
    margin: 10px auto; 
    padding: 5px;
    
}

.main-paragraph {
    margin: 0 auto;
    color: #2b2b2b;
    width: auto;
    padding-left: 10px;
    font-size: auto;
}

.contact-button {
    display: block;
    margin: 1rem auto;
    text-decoration: none;
    text-align: center;
}

.contact-button img {
    width: 300px;
    height: auto;
    transition: transform 0.3 ease;
}

.second-paragraph{
    width: 400px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}

h2{
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    gap: 10px;
    padding-bottom: 15px;
}

/* Clients section CSS */

.clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.clients img{
    padding: 10px;
    width: 120px !important;
    height: 80px !important;
    object-fit: contain;
    padding: 0;
    margin: 0 auto;
}


/* Why choose us section CSS */
.why-choose-us{
    max-width: var(--max-width-mobile);
    margin: 0;
    text-align: left;
    padding: 20px;
}

.why-choose-us li{
    list-style-type: none;
    display:flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 8px;
    font-size: 18px;
}

.why-choose-us ul{
    margin-left: 0;
    padding-left: 0;
}

.why-choose-us img {
    margin: 0;
}

.selling-text-talentura-worldclass{
    text-align: center;
    background-color: #F0F0F0;
    font-size: 20px;
    padding-left: 10px;
    padding-top:2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

/* Blog i startsidan - CSS */
.blogs{
    display: grid;
    gap: 40px;
    max-width: fit-content;
    margin-left: 10px;
    margin: 0 auto;
}

.blog-post {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    padding: 16px;
}

.blog-post h3{
    grid-column: 1 / -1;
    margin: 0 0 8px;
}

.blog-post .blog-text {
    grid-column: 1;
}

.blog-post img {
    grid-column: 2;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.blog-text img {
    width: 100%;
    height: auto;
}

/* Footer CSS */
footer {
    background-color: #6C5CE7;
    display: grid;
    place-items: center;
    padding: 20px;}

footer .footer-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.footer-link:hover{
    text-decoration: solid, underline;
    color: black;
}


/*client-cases CSS */ 

.client-cases {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 40px;
    max-width: fit-content;
    margin-left: 10px;
    margin: 0 auto;
    grid-auto-flow: row dense;
}

.client-cases > h3{
    grid-column: 1 / -1;
    text-align: center;
    margin: 0 0 10px 0;
}

.client-cases img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.blog-textleft {
    grid-column: 1;
    text-align: left;
}

.blog-textright {
    grid-column: 2;
    text-align: left;
}

.media-left {
    grid-column: 2;
}

.media-right {
    grid-column: 1;
}


/* Our Services CSS */
